name: Coverage
on: push
jobs:
  coverage:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: '3.10'
        architecture: x64
    - run: pip install nox==2022.8.7
    - run: pip install poetry==1.1.15
    - run: pip install nox-poetry==1.0.1
    - run: nox --sessions tests-3.10 coverage
    - uses: codecov/codecov-action@v3.1.0